/*
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$header-color: #CCCC99;
$link-color: #003366;
$header-name-color: #333333;

$font: Courier;

nav {
  padding-left: 20px;
  padding-top: 5px;

  .mini-logo {

    height: 20px;

    .glyphicon-glyphicon-eye-open {
      color: $header-name-color;
      height: 40px;
    }
  }
  a {
    color: $header-name-color;

    .glyphicon-glyphicon-eye-open {
      color: $header-name-color;
      height: 40px;
    }
  }
}

header {
  background-color: $header-color;
  height: 110px;
  text-align: center;
  font-family: $font;
  font-size: 50px;
  padding-top: 20px;
  letter-spacing: 4px;
  margin-top: 45px;
  text-decoration: none;
}

.title-link {
  color: $link-color;
}

.header {
  color: $header-name-color;
}

article {
  padding: 15px;

}

div.one-link {
  margin-bottom: 10px;
}

