// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-link {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  div {
    margin-top: 10px;
  }
}

.comments-box {
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

  .submit-comment {
    width: 130px;
    margin-top: 10px;
  }
}
