<div class="vote-btns">
  <p>
    <%= button_to 'Upvote', (votes_upvote_path), method: :post, class: "v-btn" %>
  </p>
  <p>
    <%= button_to 'Downvote', (votes_downvote_path), method: :post, class: "v-btn" %>
  </p>
</div>
