<article>
  <div class="user-profile">

    <%= @user.name %>
    <%= @user.email %>
    <% @user.links.each do |user| %>
      <div class='one-link'>
        <p><%= user.title.titleize %></p>
        <p><%= user.post %></p>
      </div>
    <% end %>
  </div>
</article>
