<article>

    <div class="one-link">
    <% @links.each do |link| %>

    <div>
      <%= link_to link.title.titleize, "links/#{link.id}", class: "title-link" %>
    </div>

    <div>
      <%= render partial: 'shared/link', locals: { link: link } %>
    </div>
    <%= link_to "Via #{link.user.name}", "users/#{link.user_id}" %>
    <div>
    <%= render partial: "shared/vote_btns", locals: { link: link, vote: @vote } %>
    <% end %>
    </div>

</article>
