<article>

    <div class="one-link">
    <% @links.each do |link| %>

    <div>
      <%= link_to link.title.titleize, "links/#{link.id}", class: "title-link" %>
    </div>

    <div>
      <%= link.post %>
    </div>
    <%= render partial: "shared/vote_btns", locals: { link: link, vote: @vote } %>
    <% end %>
    </div>

</article>
