<article>

    <div class="one-link">
    <% @links.each do |link| %>

    <div>
      <%= link_to link.title.titleize, "links/#{link.id}", class: "title-link" %>
    </div>

    <div>
      <% current_post = link.post.to_s %>
      <% if current_post.match(/(^http:|^url|^www.)/)%>
        <%= link_to link.post, "#{link.post}" %>
      <% else %>
        <%= link.post %>
      <% end %>
    </div>

    <%= render partial: "shared/vote_btns", locals: { link: link, vote: @vote } %>
    <% end %>
    </div>

</article>
