@import "bootstrap-sprockets";
@import "bootstrap";

$header-color: #CCCC99;
$link-color: #003366;
$header-name-color: #333333;

$font: Courier;

a {
  color: $header-name-color;

  &.hover {
  text-decoration: none;
  }
}

nav {
  padding-left: 20px;

 .container-fluid {
    margin-left: 5px;
    margin-right: 5px;

    .row {

      .nav-links {
        padding-top: 17px;
        float: left;

        .top-link {
          padding: 0 10px;
        }
      }

      .nav-btns {
      float: right;
      transition: background-color 10s ease;
        .btn {
          float: right;
          padding: 3px 8px;
          &:hover {
            border-radius: 0;

          }
        }
      }
    }
  }
}

header {
  background-color: $header-color;
  height: 110px;
  text-align: center;
  font-family: $font;
  font-size: 50px;
  padding-top: 20px;
  letter-spacing: 4px;
  margin-top: 45px;
  text-decoration: none;

  a.glyphicon.glyphicon-eye-open {
      color: $header-name-color;
    }
}

.row {

}
.title-link {

}


.header {
  color: $header-name-color;
}

article {
  padding: 15px;

}

div.one-link {
  margin-bottom: 10px;
}

