@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";

$header-color: #CCCC99;
$link-color: #003366;
$header-name-color: #333333;

$font: Courier;

a {
  color: $header-name-color;

  &.hover {
  text-decoration: none;
  color: $link-color;
  }
}

nav {
  padding-left: 20px;

 .container {
    margin-left: 5px;
    margin-right: 5px;

    .row {

      .nav-links {
        padding-top: 17px;
        float: left;

        span {
          font-size: 20px;
          vertical-align: top;
        }

        .top-link {
          padding: 0 10px;

          &:hover {
            text-decoration: none;
            color: $link-color;
          }
        }
      }

      .nav-btns {
      float: right;

        .btn {
          float: right;
          padding: 3px 8px;
          transition-duration: 0.5s;

          &:hover {
            border-radius: 0;
            color: $link-color;

          }
        }
      }
    }
  }
}

header {
  background-color: $header-color;
  height: 110px;
  text-align: center;
  font-family: $font;
  font-size: 50px;
  padding-top: 20px;
  letter-spacing: 4px;
  margin-top: 45px;
  text-decoration: none;

  a.glyphicon.glyphicon-eye-open {
      color: $header-name-color;
    }
  a:hover {
    text-decoration: none;
    color: $link-color;
  }
}

.title-link {

}


.header {
  color: $header-name-color;
}

article {
  padding: 15px;

}

div.one-link {
  margin-bottom: 10px;
}

footer {
  height: 60px;
  text-align: center;
  text-decoration: none;
  background-color: $header-color;
  color: $header-name-color;
  font-size: 40px;
  padding-top: 8px;
}

