// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-sm-1 {
  font-weight: bold;
}

.votes-area {
  margin: 10px 0;
  padding: 0 15px;

  .row {
    margin-bottom: 5px;
  }
}
